.Map {
    -fx-background-color: gray;
}

.backButton {
    -fx-background-color: #000000,
    linear-gradient(#7ebcea, #2f4b8f),
    linear-gradient(#426ab7, #263e75),
    linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
.quitButton {
    -fx-background-color: #000000,
    linear-gradient(#ea7e7e, #8f2f2f),
    linear-gradient(#b74242, #752626),
    linear-gradient(#ab3939, #682222);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.defaultBackground {
    -fx-background-image: url("../../resource/background/space_bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.choice-box {
    -fx-text-fill: #ff7e3f;
    -fx-font-size: 14px;
}
.choiceBox {
    -fx-background-color: #b0bacb;

}

